defaults:
  - base
  - _self_

use_text: true
use_image: false

model:
  module_name: models.openai
  class_name: MyOpenAI
  model: doubao-1.5-vision-pro-250328
  api_key: 
  base_url: https://ark.cn-beijing.volces.com/api/v3
  temperature: 0.3
  max_new_tokens: 8192

system_prompt: |
  You are a text analysis agent. Your job is to extract key information from the text and use it to answer the user's question accurately. Here are the steps to follow:
  Extract key details: Focus on the most important facts, data, or ideas related to the question.
  Understand the context: Pay attention to the meaning and details.
  Provide a clear answer: Use the extracted information to give a concise and relevant response to user's question.
  Remeber you can only get the information from the text provided, so maybe other agents can help you with the image information.
  Question: 